* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f8f9fa;
}

header {
    /* Стили для хедера */
    background-color: #2965F1;
    padding: 20px;
    text-align: center;

}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color: white;
    font-size: 24px
}

.main-section {
    /* Стили для первой секции */
    text-align: center;
    padding: 30px 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

.main-text {
    /* Стили для текста в первой секции */
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.main-image {
    /* Стили для изображения в первой секции */
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
}


.about-section {
    /* Стили для второй секции */
    padding: 30px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

select {
    /* Стили для выпадающего списка */
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 200px;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    color: #555;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    color: #555;
}

.label {
    /* Стили для подписей чекбоксов */
    display: block;
    margin: 10px 0;
    color: #333;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: calc(100% - 22px);
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    /* Стили для кнопки */
    padding: 10px 20px;
    background-color: #2965F1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.line {
    /* Стили для линии */
    margin: 30px 0;
    border: 1px solid #ddd;
}

table {
    /* Стили для таблицы */
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    /* Стили для ячеек таблицы */
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

footer {
    /* Стили для футера */
    text-align: center;
    padding: 20px;
    background-color: rgba(163, 167, 255, 0.5);
    color: white;
}

.footer-link {
    /* Стили для футера */
    color: white;
    text-decoration: none;
}